/* You can add global styles to this file, and also import other style files */
body {
    font-size: xx-large;
}
input {
    font-size: xx-large;
}
button {
    font-size: xx-large;
}
div {
    padding:16px;
}